.Content{
    padding-top: 60px;
    background-image:
    url( "https://st2.depositphotos.com/4586899/7066/v/950/depositphotos_70661631-stock-illustration-burger-seamless-background.jpg");
    background-size: cover;



}