.NavigationItems {
    margin:0;
    padding:0;
    list-style:none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}
/*.NavigationItemsSideDraw {*/
    /*margin:0;*/
    /*padding:0;*/
    /*list-style:none;*/
    /*display: block;*/
    /*flex-flow: column;*/
    /*align-items: center;*/
    /*height: 100%;*/
/*}*/
.UserEmail {
    margin-top: 28px;
    color:#8F5C2C;
    padding-top: 5px;
    padding-left: 11px;
    font-family: fantasy;

}

.UserEmail:hover {
    color: #130601;
}

@media (min-width: 500px) {
    .NavigationItems {
       flex-flow: row;
    }
}